.user.clearfix{class: ("with-name" if user.name?)}
  .avatar
    = link_to image_path(user.avatar.url) do
      = image_tag user.avatar.list.url, alt: user, width: 48, height: 48
  - if user.name?
    .name= user.name
  .username
    = link_to user do
      @#{user}
- if user.biography?
  .biography.clearfix
    = simple_format user.biography
.stats.row
  .followers.span2
    = link_to user_followers_path(user) do
      %output= user.followers.count
      followers
  .following.span2
    = link_to user_followees_path(user) do
      %output= user.following.count
      following
  .tweets.span2
    = link_to user_timeline_path(user) do
      %output= user.tweets.count
      tweets


