- if user.following.present?
  .followees
    - user.following.each do |followee|
      .followee.clearfix
        = link_to followee do
          .avatar= image_tag followee.avatar.list.url, alt: followee, width: 48, height: 48
          .username= followee
        - if followee.name?
          .name= followee.name
        - if user_signed_in? and current_user != followee
          - if current_user.followee_follows.exists?(followee_id: followee.id)
            .unfollow= link_to "Unfollow", unfollow_user_path(followee), class: "danger btn", data: {"standard-text" => "Following", "standard-class" => "success btn"}
          - else
            .follow= link_to "Follow", follow_user_path(followee), class: "success btn"
        - if followee.biography?
          .biography= followee.biography
- else
  %p Nobody!

