.row
  .span10.content
    = area :content do
      = area :tweet_form do
        = render "tweet_form"
      = area :tweets do
        = render tweets
  .span6.sidebar
    = area :sidebar do
      .user
        = link_to user, user
      .followers
        %output= user.followers.count
        followers
      .following
        %output= user.following.count
        following
      .tweets
        %output= user.tweets.count
        tweets


