.row
  .span10.content
    = area :content do
      = area :tweet_form do
        = render "tweet_form"
      = area :tweets do
        .tweets
          = render tweets
        = area :pagination do
          - if params[:page].present? and params[:page].to_i > 0
            = link_to "&lsaquo; Newer".html_safe, url_for(params.merge(page: params[:page].to_i - 1)), class: "btn"
          - if tweets.offset((params[:page].to_i + 1) * 20).exists?
            = link_to "Older &rsaquo;".html_safe, url_for(params.merge(page: params[:page].to_i + 1)), class: "btn"
  .span6.sidebar
    = area :sidebar do
      .user
        = link_to user, user
      .row
        .followers.span2
          %output= user.followers.count
          followers
        .following.span2
          %output= user.following.count
          following
        .tweets.span2
          %output= user.tweets.count
          tweets


