.row
  .span10.content
    = area :content do
      = area :tweet_form do
        = render "tweets/form"
      = area :tweets do
        .tweets
          = render tweets
        = area :pagination do
          - if params[:page].present? and params[:page].to_i > 0
            = link_to "&lsaquo; Newer".html_safe, url_for(params.merge(page: params[:page].to_i - 1)), class: "btn"
          - if tweets.offset((params[:page].to_i + 1) * 20).exists?
            = link_to "Older &rsaquo;".html_safe, url_for(params.merge(page: params[:page].to_i + 1)), class: "btn"
  .span6.sidebar
    = area :sidebar do
      .user
        = link_to user, user
      .row
        .followers.span2
          = link_to user_followers_path(user) do
            %output= user.followers.count
            followers
        .following.span2
          = link_to user_followees_path(user) do
            %output= user.following.count
            following
        .tweets.span2
          = link_to user_timeline_path(user) do
            %output= user.tweets.count
            tweets
      .mentions= activated_link_to "@#{user} mentions", user_mentions_path(user)


