.row
  .span10.content
    = form_for Tweet.new do |form|
      %h2 What's Happening?
      .clearfix
        = form.text_area :text
        .hide-show
          = form.submit "Tweet", class: "btn primary"

    = render tweets

  .span6.sidebar
    - if user_signed_in?
      .user
        = link_to current_user, current_user
      .followers
        %output= current_user.followers.count
        followers
      .following
        %output= current_user.following.count
        following
      .tweets
        %output= current_user.tweets.count
        tweets

