%h2 Sign in
%p Use any username and any password, your password will be saved for next time.
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %fieldset
    .clearfix
      = f.label :username
      .input= f.text_field :username
    .clearfix
      = f.label :password
      .input= f.password_field :password
    .clearfix
      .input.check_box
        = f.check_box :remember_me
        = f.label :remember_me
    .actions
      = f.submit "Save changes", class: "btn primary"
      %button.btn{:type => "reset"} Cancel
= render :partial => "devise/shared/links"
