!!!
%html
  %head
    %title Twatter
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{class: body_classes}
    .topbar
      .topbar-inner
        .container
          = activated_content_tag :h3, root_path, exact: true, class: "root" do
            = link_to "Twatter", root_path, class: "brand"
          - if user_signed_in?
            %ul.nav
              = activated_content_tag :li, timeline_path, class: "home" do
                = link_to "Timeline", timeline_path, class: "home"
          %ul.nav.secondary-nav
            - if user_signed_in?
              = activated_content_tag :li, new_tweet_path, class: "compose" do
                = link_to "Compose", new_tweet_path
              = activated_content_tag :li, current_user, class: "user" do
                = link_to current_user, current_user
              = activated_content_tag :li, destroy_user_session_path, class: "sign_out" do
                = link_to "Sign out", destroy_user_session_path
            - else
              = activated_content_tag :li, new_user_session_path, class: "sign_in" do
                = link_to "Sign in", new_user_session_path
    .container
      = flashes
      = yield

    %footer.container
      Made by #{link_to "Samuel Cochran", "http://sj26.com"} @ #{link_to "Railscamp X", "http://railscamps.com"}
