!!!
%html
  %head
    %title Twatter
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{class: body_classes}
    .topbar
      .topbar-inner
        .container
          = link_to "Twatter", root_path, class: "brand"
          %ul.nav.secondary-nav
            - if user_signed_in?
              %li= activated_link_to "Compose", new_tweet_path
              %li= activated_link_to current_user, current_user
              %li= activated_link_to "Sign out", destroy_user_session_path
            - else
              %li= activated_link_to "Sign in", new_user_session_path
    .container
      = flashes
      = yield

    %footer.container
      Made by #{link_to "Samuel Cochran", "http://sj26.com"} @ #{link_to "Railscamp X", "http://railscamps.com"}
