= extends :content_and_sidebar do
  = area :title do
    %h1
      - if user.name?
        %span.username= user
        %span.name (#{user.name})
      - else
        = user
  = area :nav do
    = render partial: "users/nav", object: user, as: "user"
  = yield
  - prepend :sidebar do
    = area :profile do
      = render partial: "users/sidebar", object: user, as: "user"
