= extends :content_and_sidebar do
  = area :content_title do
    .user
      .avatar= image_tag user.avatar.profile.url, width: 128, height: 128, alt: user
      %hgroup
        - if user.name?
          %h1.name= user.name
        %h2.username @#{user}
      .action
        - if user_signed_in?
          - if user == current_user
            .edit= link_to "Edit Profile", edit_user_path(user), class: "btn"
          - elsif current_user.follower_follows.exists?(followee_id: user.id)
            .unfollow= link_to "Unfollow", unfollow_user_path(user), class: "danger btn", data: {"standard-text" => "Following", "standard-class" => "success btn"}
          - else
            .follow= link_to "Follow", follow_user_path(user), class: "success btn"
        - else
          .sign-in-to-follow #{link_to "Sign in", new_user_session_path, class: "info btn"} to follow

  = area :content_tabs do
    %ul.tabs.user_tabs
      = activated_content_tag :li, user_timeline_path(user), exact: true do
        = link_to "Tweets", user_timeline_path(user)
      = activated_content_tag :li, user_mentions_path(user) do
        = link_to "Mentions", user_mentions_path(user)
      = activated_content_tag :li, user_followees_path(user) do
        = link_to "Following", user_followees_path(user)
      = activated_content_tag :li, user_followers_path(user) do
        = link_to "Followers", user_followers_path(user)

  = yield

  - prepend :sidebar do
    = area :sidebar_user do
      = render partial: "users/sidebar", object: user, as: "user"
